<form class="modal fade" id="modalCheckin" role="dialog" method="POST" ng-submit="submitin(check)">
   	<div class="modal-dialog" style="width: 80%; margin: 200px auto;">
      	<div class="modal-content" style="padding: 10px 10px 50px 10px;">
	        <div class="modal-body">
        		<h4 style="text-align: center; margin-bottom: 15px;">Check In</h4>
                <p style="font-size: 16px; text-align: center;">4 Digit from employer</p>
                <div layout="row" style="margin-top: 0px;">              
					<div flex="75">
						<md-input-container class="md-block" style="margin: 20px auto; font-size: 18px;">
						    <label>Check In Digit</label>
						    <input id="digija" type="number" ng-model="check.digit" ng-required="true">
						</md-input-container>       
					</div>  
					<div flex="25">
						<input type="button" id="checkbtn" name="check" class="btn btn-default" value="Check" ng-click="checkindigit(check.digit)"/>
					</div>                    
	            </div>
                <p ng-show="!!check.err" id="errtext">{{check.err}}</p>
		        <div class="wrap-button" style="width: 100%; margin: 20px 0;">
	        		<button class="btn btn-default" type="button" data-dismiss="modal" xonclick="window.history.back();"
	        		style="width: 45%; float: left; font-size: 14px;">
	        			<i class="fa fa-remove"></i> Cancle
	        		</button>
		         	<button type="submit" class="btn btn-success" id="submitbtn" ng-disabled="saving" style="width: 45%; margin-left: 10%; float: left; font-size: 14px;">
		         		<i class="fa fa-save"></i> Submit
		         	</button>
	         	</div>
        	</div><!-- modal-body -->				        	
      	</div><!-- modal-content -->
    </div><!-- modal-dialog -->
</form><!-- modal -->