<html ng-app="mymaid">  
  <% include head.ejs %>
  <script>
    function openNavMaid() {
        document.getElementById("mySidenavMaid").style.width = "70%";
    }
    function closeNavMaid() {
        document.getElementById("mySidenavMaid").style.width = "0";
    }
    function openNavEmp() {
        document.getElementById("mySidenavEmp").style.width = "70%";
    }
    function closeNavEmp() {
        document.getElementById("mySidenavEmp").style.width = "0";
    }
  </script>
  
<body ng-controller="edit-profile" >
  <script src="/angular-animate/angular-animate.js"></script>
  <script src="/angular-aria/angular-aria.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.4/angular-material.js"></script>

    <script>
      angular.module('mymaid', ['ngMaterial'])
      .factory("$config", function(){
        return {
          post: {
              post: {
                  headers: {"Content-Type": "application/json;charset=UTF-8"}
              }
          }
          , Firstname : <%- JSON.stringify(firstname) %>
          , Image : <%- JSON.stringify(image) %> 
          , Role : <%- JSON.stringify(role) %> 
          , Address: <%- JSON.stringify(config.Address) %>
        }
      })
      .controller('edit-profile', function ($scope, $http, $config, $filter) {
        $scope.firstname = $config.Firstname;
        $scope.image = $config.Image;
        $scope.roleuser = $config.Role;
        $scope.myDate = new Date();        
        $scope.gender = ('Male Female').split(' ').map(function(gender) {
          return {objg: gender};
        });
        $http.get("../editprofile/list.json")
        .then(function (res) {
          console.info("editprofile/list.json : ", res);
          $scope.user = res.data;
          var bd = $scope.user.birthdate;
          $scope.user.birthdate = new Date(bd);
          console.info("city : ", $scope.user.city);
          console.info("district : ", $scope.user.district);
          console.info("subdistrict : ", $scope.user.subdistrict);
          if ($scope.roleuser == 'maid') {
            document.getElementById("maid-nav").style.display = "block";
          }else{
            document.getElementById("emp-nav").style.display = "block";
          }
        })
        .catch(function (err) {
          console.error("editprofile/list.json : ", err);
          alert("Catch Error user/:id", err);
        })
        $scope.address = $config.Address;
        $scope.citylist = $scope.address.citylist;
        $scope.districtlist = $scope.address.districtlist;
        $scope.subdistrictlist = $scope.address.subdistrictlist;
        $scope.getCity = function () {
          return citylist;
        };
        $scope.getCityDistrict = function (cityId) {
          $scope.districtt = ($filter('filter')($scope.districtlist, { cityId: cityId }));  
          console.info("getCityDistrict");
        };
        $scope.getDistrictSubDistrict = function (district) {
          $scope.subdistrictt = ($filter('filter')($scope.subdistrictlist, { district: district }));       
          console.info("getDistrictSubDistrict");  
        };
        $scope.submit = function(obj){   
          var bd = obj.birthdate;
          var d = new Date(bd);
          obj.birthdate = d.toLocaleString(); 

          console.info('email', obj.email);
          $scope.email = obj.email;
          var x = $scope.email;
          var atpos = x.indexOf("@");
          var dotpos = x.lastIndexOf(".");
          $scope.valid = null;
          if (atpos<1 || dotpos<atpos+2 || dotpos+2>=x.length){
            $scope.valid = false;
          }
          if($scope.valid == false){
            alert("Not a valid e-mail address");
            $scope.valid == null;
          }
          else{
            console.info("submit : ", obj);            
            $http.post("../../editprofile", JSON.stringify(obj), $config.post)
            .then(function(res){
              console.info("post : ", res);
              alert("SAVE SUBMIT");
              window.location.href = '../../profile';
              $scope.saving = false;
            }, function(err){
              console.error(err);
              alert("Post Error", err);
              $scope.saving = false;
            })
          }
        }
        $http.get("../requestmaid/list.json")
        .then(function (res) {
            console.info("requestmaid/list.json : ",res);
          $scope.reqmaid = res.data;
          var ll = $scope.reqmaid.length;
          $scope.pay = [];
          $scope.progress = [];
          $scope.complete = [];
          for (var i = 0 ; i < ll; i++) {
            var status = $scope.reqmaid[i].status;
            var mm = $scope.reqmaid[i];
            if (status == 'Matched') {
              $scope.pay.push(mm);
            }else if(status == 'Service Complete' || status == 'Cancel'){
              $scope.complete.push(mm);
            }else{
              $scope.progress.push(mm);
            }           
          }
          if ($scope.pay != false) {
          $scope.notiLenght = $scope.pay.length;
                console.info($scope.pay.length);  
        }
          console.info("pay : ",$scope.pay);
          console.info("complete : ",$scope.complete);
          console.info("progress : ",$scope.progress);
        })
        .catch(function (err) {
          console.error(err);
          alert("Catch Error",err);
        })
        var now = new Date();
        $http.get("../requestemployment/list.json")
        .then(function (res) {
          console.info("requestemployment/list.json : ",res);
          $scope.req = res.data;
          $scope.data = [];
          var _date = $filter('date');
          $scope.req.forEach(function(e){
            empdate =  _date(e.employ_date.replace('z', '+0700'));
            creatdate =  _date(e.created_date.replace('z', '+0700'));
            employdate = new Date(empdate);
            createddate = new Date(creatdate);
            var Cdiff = (createddate.getTime() - now.getTime());   
            var Cseconds = Math.floor(Cdiff / 1000);
            var Cminutes = Math.floor(Cseconds / 60);
            var Chours = Math.floor(Cminutes / 60);
            var Ediff = (employdate.getTime() - now.getTime());   
            var Eseconds = Math.floor(Ediff / 1000);
            var Eminutes = Math.floor(Eseconds / 60);
            var Ehours = Math.floor(Eminutes / 60);
            var Edays = Math.floor(Ehours / 24);
            var mm = e;
            if(Chours >= -48 && Chours <= 0 && Edays >= 0){
              $scope.data.push(mm);
            }
            if ($scope.data != false) {
              $scope.notiLenght = $scope.data.length;
              console.info($scope.data.length);  
            }            
          })
        })
      });
    </script>
    <div id="maid-nav" style="display: none;">
      <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="slide-nav">
        <div class="container">
          <div class="navbar-header">
              <a class="navbar-toggle" onclick="openNavMaid()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </a>
              <div id="mySidenavMaid" class="sidenav">
                <div class="topsidenav">            
                  <a href="javascript:void(0)" class="closebtn" onclick="closeNavMaid()">&times;</a>
                  <div class="Profile-pic">
                    <img src="../../{{image}}">
                  </div>
                  <div class="nameuser">{{firstname}}</div>
                </div>
                <a href="../../requestemployment"><i class="fa fa-check-square-o fa-fw"></i> Request<div class="noti" ng-show="!!notiLenght">{{notiLenght}}</div></a>
                <a href="../../maidwork"><i class="fa fa-calendar fa-fw"></i> My Work</a>
                <a href="../../maidaccount"><i class="fa fa-dollar fa-fw"></i> Account</a>
                <a href="../../profile"><i class="fa fa-user fa-fw"></i> Profile</a>
                <a href="../../../../../"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div id="emp-nav" style="display: none;">
      <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="slide-nav"> 
        <div class="container">
          <div class="navbar-header">
              <a class="navbar-toggle" onclick="openNavEmp()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </a>
              <div id="mySidenavEmp" class="sidenav">
                <div class="topsidenav">            
                  <a href="javascript:void(0)" class="closebtn" onclick="closeNavEmp()">&times;</a>
                  <div class="Profile-pic">
                    <img src="../../{{image}}">
                  </div>
                  <div class="nameuser">{{firstname}}</div>
                </div>
                <a href="../../showmaid"><i class="fa fa-search fa-fw"></i> Find My Maid</a>
                <a href="../../requestmaid"><i class="fa fa-check-square-o fa-fw"></i> Employment<div class="noti" ng-show="!!notiLenght">{{notiLenght}}</div></a>
                <a href="../../pickupmaid"><i class="fa fa-heart fa-fw"></i> Pick Up Maid</a>
                <a href="../../profile"><i class="fa fa-user fa-fw"></i> Profile</a>
                <a href="../../../../../"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
              </div>
          </div>
        </div>
      </div>
    </div>
  <div class="wrap-edit">
    <h4 style="text-align: center; font-weight: bold;">Edit Profile</h4>
    <md-content>
        <form name="userForm"  ng-submit="submit(user)">                                      
          <md-input-container class="md-block">
            <label>Name</label>
            <input ng-model="user.name" class="cus-intput">
          </md-input-container>
          <md-input-container class="md-block">
            <label>About Me</label>
            <textarea ng-model="user.aboutme" md-maxlength="150" rows="5" md-select-on-focus></textarea>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Mobile Number</label>
            <input ng-model="user.mobile_number">
          </md-input-container>
          <md-input-container class="md-block">
            <label>Gender</label>
            <md-select ng-model="user.gender">
              <md-option ng-repeat="g in gender" value="{{g.objg}}">
                {{g.objg}}
              </md-option>
            </md-select>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Email</label>
            <input ng-model="user.email">
          </md-input-container>
          <div class="input-container">
            <label>Birthdate</label>
            <md-datepicker ng-model="user.birthdate" md-max-date="myDate"></md-datepicker>
          </div>
          <h5 style="margin-bottom: 20px; font-size: 18px;">Address</h5>
          <md-input-container class="md-block" style="width: 95%;"> 
                <label>City</label>
                <md-select name="city" ng-model="user.city" ng-required="true" flex="100">
                    <md-option ng-repeat="city in citylist" value="{{city.city}}" ng-click="getCityDistrict(city.id)" >
                        {{city.city}}
                    </md-option>
                </md-select>    
            </md-input-container> 
            <div layout="row" ng-show="!!user.city">              
              <div flex="50">
                <md-input-container class="md-block" ng-show="!!user.city">
                    <label>District</label>
                    <md-select name="district" ng-model="user.district" ng-required="true">
                        <md-option ng-repeat="d in districtt" value="{{d.district}}" ng-click="getDistrictSubDistrict(d.district)">
                            {{d.district}}
                        </md-option>
                    </md-select>           
                </md-input-container>        
              </div>  
              <div flex="50">
                <md-input-container class="md-block" ng-show="!!user.district">
                    <label>Sub-District</label>
                    <md-select name="subdistrict" ng-model="user.subdistrict" ng-required="true">
                        <md-option ng-repeat="subdis in subdistrictt" value="{{subdis.subdistrict}}">
                            {{subdis.subdistrict}}
                        </md-option>
                    </md-select>           
                </md-input-container> 
              </div>                    
            </div>
            <div layout="row" ng-show="!!user.subdistrict" >
              <div flex="33">
                <md-input-container class="md-block">
                    <label>Home Number</label>
                    <input ng-model="user.home">
                </md-input-container> 
              </div>
              <div flex="33">
                <md-input-container class="md-block">
                    <label>Soi</label>
                    <input ng-model="user.soi">
                </md-input-container>
              </div>
              <div flex="33">
                <md-input-container class="md-block">
                    <label>Road</label>
                    <input ng-model="user.road">
                </md-input-container> 
              </div>                      
            </div>
          
          <div style="width: 60%; margin: 0 auto;">
            <md-button class="md-raised md-cornered submit-btn" type="submit"> Submit </md-button>  
          </div>          
        </form>
      </div>
    </md-content>
  </div>
</body>
</html>
