<!DOCTYPE html>
<html>
<head>
		<script src="/angular/angular.js"></script>
</head>

	<body>

		<form method="post" enctype="multipart/form-data" action="../test/upload">
			<input type="file" name="file" id="file">
			<input type="submit" value="Submit">
		</form>
		
	</body>
</html>